/* ===== English ===== */

/* Permanent Marker */

@font-face {
    font-family:"Permanent_Marker";
    src: url("Permanent_Marker/PermanentMarker-Regular.ttf") format("woff2");
}

/* Ubuntu */

@font-face {
    font-family:"Ubuntu-Regular";
    src: url("Ubuntu/Ubuntu-Regular.ttf") format("woff2");
}

@font-face {
    font-family:"Ubuntu-Bold";
    src: url("Ubuntu/Ubuntu-Bold.ttf") format("woff2");
}

@font-face {
    font-family:"Ubuntu-Medium";
    src: url("Ubuntu/Ubuntu-Medium.ttf") format("woff2");
}

/* Caveat */

@font-face {
    font-family:"Caveat";
    src: url("Caveat/Caveat-VariableFont_wght.ttf") format("woff2");
}

/* Runia */

@font-face {
    font-family:"Runia-Regular";
    src: url("Rufina/Rufina-Regular.ttf") format("woff2");
}
@font-face {
    font-family:"Runia-Bold";
    src: url("Rufina/Rufina-Bold.ttf") format("woff2");
}

/* ===== Chinese ===== */

/* Noto Sans Trad Chinese */

@font-face {
    font-family:"Noto-Sans-Regular";
    src: url("Noto_Sans_TC/NotoSansTC-Regular.otf") format("woff2");
}

@font-face {
    font-family:"Noto-Sans-Bold";
    src: url("Noto_Sans_TC/NotoSansTC-Bold.otf") format("woff2");
}

@font-face {
    font-family:"Noto-Sans-Light";
    src: url("Noto_Sans_TC/NotoSansTC-Light.otf") format("woff2");
}

/* NOTO Serif Trad Chinese*/

@font-face {
    font-family:"Noto-Serif-Bold";
    src: url("Noto_Serif_TC/NotoSerifTC-Regular.otf") format("woff2");
}