<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.5">
        <link rel="icon" href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/fonts/fonts.css">
        <title>Out of Space Music Player</title>
    </head>

    <!--
        祝 發現彩蛋的各位Spy-Ders
        ⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛⠀ 
        ⬛⬛⬛⬛⬛🟥🟥🟥🟥🟥⬛⬛⬛⬛⬛⬛⠀ 
        ⬛⬛⬛⬛🟥🟥🟥🟥🟥🟥🟥🟥🟥⬛⬛⬛⠀ 
        ⬛⬛⬛⬛🟫🟫🟫🟨🟨⬛🟨⬛⬛⬛⬛⬛⠀ 
        ⬛⬛⬛🟫🟨🟫🟨🟨🟨⬛🟨🟨🟨⬛⬛⬛⠀ 
        ⬛⬛⬛🟫🟨🟫🟫🟨🟨🟨🟫🟨🟨🟨⬛⬛⠀ 
        ⬛⬛⬛🟫🟫🟨🟨🟨🟨🟫🟫🟫🟫⬛⬛⬛⠀ 
        ⬛⬛⬛⬛⬛🟨🟨🟨🟨🟨🟨🟨⬛⬛⬛⬛⠀ 
        ⬛⬛⬛⬛🟥🟥🟦🟥🟥🟦🟥⬛⬛⬛⬛⬛⠀ 
        ⬛⬛⬛🟥🟥🟥🟦🟥🟥🟦🟥🟥🟥⬛⬛⬛⠀ 
        ⬛⬛🟥🟥🟥🟥🟦🟦🟦🟦🟥🟥🟥🟥⬛⬛⠀ 
        ⬛⬛⬜⬜🟥🟦🟨🟦🟦🟨🟦🟥⬜⬜⬛⬛⠀ 
        ⬛⬛⬜⬜⬜🟦🟦🟦🟦🟦🟦⬜⬜⬜⬛⬛⠀ 
        ⬛⬛⬜⬜🟦🟦🟦⬛⬛🟦🟦🟦⬜⬜⬛⬛⠀ 
        ⬛⬛⬛⬛🟦🟦🟦⬛⬛🟦🟦🟦⬛⬛⬛⬛⠀ 
        ⬛⬛⬛🟫🟫🟫⬛⬛⬛⬛🟫🟫🟫⬛⬛⬛⠀ 
        ⬛⬛🟫🟫🟫🟫⬛⬛⬛⬛🟫🟫🟫🟫⬛⬛
        運氣跟瑪麗一樣歐到爆炸 :D
    -->

    <body>
        <style>
            #Title {
                font-family: "Runia";
            }
        </style>


        <div id="Title">
            <p>Hi</p>
        </div>
    </body>
</html>