<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/login.css">
        <!-- <script src="static/js/login.js"></script> -->
        <link rel="icon" href="static/img/favicon.png">
    </head>
    <body>
        <div class="container">
            <h1>Hello, Welcome to the Login page !</h1>
            <br>
            <form method="post", action="/login">
                <label for="username">Username</label>
                <br><br>
                <input type="text" id="username" name="username" class="info">
                <br><br>
                <label for="password">Password</label>
                <br><br>
                <input type="password" id="password" name="password" class="info">
                <br><br>
                <input type="submit" value="submit" class="submit">
            </form>
        </div>
    </body>
</html>